@import "styles/variables.scss";

.experience-page {
    width: 100vw;
    min-height: 100vh;
    z-index: 7;

    >.bg {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 0;

        background: $site-background-gradient-2;
    }

    .logos {
        display: flex;
        flex-direction: row;

        >.bg {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 0;

            background-color: $logo-line-background;
        }

        .title {
            margin: auto;
            white-space: nowrap;
            text-align: center;
            width: 800px;
        }

        .logo-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 95px;

            width: 100%;
            height: 115px;


            .logo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .image {
                    width: 50px;
                    object-fit: contain;
                }

                .text {
                    font-family: $main-font-family;
                    font-weight: 1000;
                    font-size: 16px;
                }
            }
        }
    }

    .experiences {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;

        margin: auto;
        max-width: 100%;
        padding: 100px 50px;
        gap: 50px;

        .experience {
            display: flex;
            flex-direction: column;

            width: 700px;
            max-width: 100%;
            background: $card-color-2;
            border-radius: $card-border-radius;
            padding: 20px;

            &::after {
                display: block;
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                border-radius: 10px;
                background: rgba(0, 0, 0, 0.219);
                bottom: 0;
            }

            .title-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 50px;
                gap: 25px;
                margin-bottom: 15px;

                .icon {
                    height: 100%;
                    aspect-ratio: 1;
                    object-fit: contain;
                }

                .title {
                    color: $card-title-color;
                }
            }

            .sub-title-row {
                .sub-title {
                    color: $card-highlight-text-color;
                }
            }

            .description-list {
                width: calc(100% - 25px);
                padding-left: 25px;
                list-style: none;
                padding: 0 10px;
                border-radius: $card-border-radius;

                li:before {
                    content: '';
                    position: absolute;
                    border: 2px solid $card-description-text-color;
                    border-radius: 50%;
                    width: 5px;
                    aspect-ratio: 1;
                    top: calc(50% - 2px);
                    left: -17.5px;
                    transform: translateY(-50%);
                }

                .description {
                    margin: 10px 0;
                    white-space: break-space;
                    color: $card-description-text-color;
                    margin-left: 20px;
                }
            }
        }
    }
}