@import "styles/variables.scss";

.experience-page {
    width: 100vw;
    min-height: 100vh;
    background: $site-background-gradient-2;
    padding-bottom: 50px;

    .logos {
        display: flex;
        flex-direction: row;
        background: rgba(0, 0, 0, 0.075);

        .title {
            margin: auto;
            white-space: nowrap;
            text-align: center;
            width: 800px;
        }

        .logo-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 95px;

            width: 100%;
            height: 115px;


            .logo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .image {
                    width: 50px;
                    object-fit: contain;
                }

                .text {
                    font-family: $main-font-family;
                    font-weight: 1000;
                    font-size: 16px;
                }
            }
        }
    }

    .experiences {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;


        margin: auto;
        width: 1200px;
        max-width: 100%;
        padding: 100px 0;
        gap: 50px;

        .experience {
            width: 500px;
            max-width: 100%;
            background: rgba(255, 255, 255, 0.822);
            border-radius: 10px;
            padding: 20px;

            .title-row {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 50px;
                gap: 25px;

                .icon {
                    height: 100%;
                    aspect-ratio: 1;
                    object-fit: contain;
                }

                .title {}
            }

            .description-list {
                margin-top: 20px;
                width: calc(100% - 25px);
                padding-left: 25px;
                list-style: none;

                & li:before {
                    content: '';
                    position: absolute;
                    border-right: 2px solid black;
                    border-bottom: 2px solid black;
                    width: 10px;
                    height: 10px;
                    top: calc(50% - 2px);
                    left: -25px;
                    transform: translateY(-50%) rotate(-45deg);
                }

                .description {
                    margin: 10px 0;
                    white-space: break-space;
                }
            }
        }
    }
}