@import "styles/variables.scss";

.front-page {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;

    gap: 70px;

    width: 1350px;
    max-width: calc(100% - 100px);
    height: 100vh;
    z-index: 0;

    margin: auto;

    * {
        z-index: 10;
    }

    .background {

        position: absolute;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 0;

        z-index: 3;

        background: $site-background-gradient;

        opacity: 1;

        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-fill-mode: forwards;

        @keyframes gradiant-animation {
            0% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }
    }

    .hi-section {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 710px;
        min-width: 300px;
        height: 70%;
        margin-top: 170px;

        .about-me-container {
            display: flex;
            flex-direction: column;
            width: 100%;

            .buttons {
                display: flex;
                flex-direction: row;
                gap: 20px;

                >* {
                    opacity: 0;

                    animation-name: fade-from-left-to-right;
                    animation-fill-mode: forwards;
                    animation-duration: 0.5s;
                }
            }

            .about-me {
                width: 100%;
                min-height: 330px;
                top: 0;
            }
        }

        .title {
            margin-bottom: 10px;
        }

        .social-medias {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 320px;

            .seperator-line {
                width: 3px;
                height: 0%;
                margin: 0 20px;
                background: $text-color;

                animation-name: resize-from-top-to-bottom;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
            }

            .list-of-medias {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;

                .media {
                    width: 40px;
                    aspect-ratio: 1;
                    animation-name: fade-from-right-to-left;
                    animation-duration: 0.75s;
                    animation-fill-mode: forwards;
                    opacity: 0;

                    .icon {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    .image-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70%;

        opacity: 0;

        animation-name: fade-from-left-to-right;
        animation-duration: 1s;
        animation-fill-mode: forwards;

        .image-container {
            max-width: 100%;
            width: 500px;

            .skewed-image {
                width: 380px;
                aspect-ratio: 9/12;
                transform: skewX(-6deg) skewY(-6deg);
                overflow: hidden;
                border-radius: 5px;

                &.hollow-image {
                    position: absolute;
                    left: 20px;
                    top: 20px;

                    .image {
                        background: $shadow-color;
                    }
                }

                .image {
                    position: absolute;
                    width: 150%;
                    height: 150%;
                    left: 75%;
                    top: 75%;
                    object-fit: cover;
                    background: rgb(105, 104, 96);

                    transform: skewX(6deg) skewY(6deg) translate(-50%, -50%);

                    &.main-image {
                        top: 47%;
                        left: 51%;
                        scale: 0.82;
                        rotate: -3deg;
                    }
                }
            }
        }

        .separator-line {
            width: 75%;
            height: 5px;
            border-radius: 50px;
            margin-top: 20px;
            background: $text-color;
        }

        .media-link-icon {
            width: 40px;
            aspect-ratio: 1;
            border-radius: 50%;
            overflow: hidden;

            .icon {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

}