@import "styles/variables.scss";

.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh);
    background: $site-background-gradient-3;

    * {
        font-family: $main-font-family;
    }

    &>.title {
        margin: 50px 0;
    }

    .logos {
        display: flex;
        flex-direction: row;
        background: rgba(0, 0, 0, 0.075);
        width: 100%;

        .title {
            margin: auto;
            white-space: nowrap;
            text-align: center;
            width: 800px;
        }

        .logo-list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;

            width: 100%;
            min-height: 115px;


            .logo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .image {
                    width: 50px;
                    object-fit: contain;
                }

                .text {
                    font-family: $main-font-family;
                    font-weight: 1000;
                    font-size: 16px;
                }
            }
        }
    }


    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 150px;

        .project {
            display: flex;
            flex-direction: row;

            width: 700px;
            height: 270px;

            background: rgba(255, 255, 255, 0.568);
            padding: 20px;
            border-radius: 15px;

            .image-container {
                min-width: 220px;
                height: 100%;

                .image {
                    position: absolute;
                    width: calc(100% + 140px);
                    height: 100%;
                    left: -120px;
                    object-fit: cover;
                    border-radius: 15px;
                    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.363);
                }

                .links {
                    position: absolute;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;

                    .link {
                        width: 35px;
                        height: 35px;
                        padding: 5px;
                        transition: all 0.2s;

                        cursor: pointer;

                        &:hover {
                            scale: 1.05;
                        }

                        .image {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            .content {
                display: flex;
                flex-direction: column;
                gap: 20px;

                width: 100%;
                padding-left: 40px;

                .title {
                    color: rgb(0, 0, 0);
                }

                .description {
                    background: rgba(24, 24, 41, 0.664);
                    padding: 20px;
                    border-radius: 3px;
                    color: white;
                }

                .code-languages {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    width: 100%;
                    gap: 10px;

                    .language {
                        color: rgb(128, 27, 211);
                        font-size: 14px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}