@import "styles/variables.scss";

.project-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: calc(100vh);
    background: $site-background-gradient-3;

    * {
        font-family: $main-font-family;
    }

    &>.title {
        margin: 50px 0;
    }

    .logos {
        display: flex;
        flex-direction: row;
        background: rgba(0, 0, 0, 0.075);
        width: 100%;

        .title {
            margin: auto;
            white-space: nowrap;
            text-align: center;
            width: 800px;
        }

        .logo-list {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;

            width: 100%;
            min-height: 115px;


            .logo {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;

                .image {
                    width: 50px;
                    object-fit: contain;
                }

                .text {
                    font-family: $main-font-family;
                    font-weight: 1000;
                    font-size: 16px;
                }
            }
        }
    }


    .projects {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px 150px;
    }
}