@import "styles/variables.scss";

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;

    width: 370px;
    height: 50px;

    border-radius: 50px;
    z-index: 100;


    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;

    /* when minimized and not hovering*/
    &.minimized:not(:hover) {

        .container {
            width: 170px;
            height: 10px;
            overflow: hidden;
            opacity: 0.8;

            .links {
                opacity: 0;
                transition-delay: 0s;
                transition-duration: 0.1s;
            }
        }
    }

    &.minimized {
        .container {
            animation-name: initial;
            opacity: 1;

            .selection {
                animation-name: initial;
                opacity: 1;
            }

            .links {
                animation-name: initial;
                opacity: 1;

                .link {
                    animation-name: initial;
                    opacity: 1;
                }
            }
        }
    }

    .container {
        width: 100%;
        height: 100%;
        transition: all 0.2s;
        background: $navigation-container-bg;
        border-radius: 50px;
        border: 1px solid $navigation-border-color;
        opacity: 0;
        backdrop-filter: blur(5px);

        animation-name: load-animation;
        animation-duration: 0.8s;
        animation-delay: 3.7s;
        animation-fill-mode: forwards;

        @keyframes load-animation {
            0% {
                width: 0px;
                height: 10px;
                opacity: 0;
            }

            50% {
                width: 170px;
                height: 10px;
                opacity: 1;
            }

            55% {
                width: 170px;
                height: 10px;
                opacity: 1;
            }


            100% {
                width: 400px;
                height: 50px;
                opacity: 1;
            }
        }

        .selection {
            position: absolute;
            background: $navigation-selector-color;
            height: 5px;
            bottom: 5px;
            border-radius: 50px;
            transition: all 0.2s;

            opacity: 0;
            animation-name: fade-in;
            animation-fill-mode: forwards;
            animation-duration: 0.5s;
            animation-delay: 4.6s;
            padding-left: 10px;
        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            padding: 0 24px;
            margin: auto;

            transition: all 0.2s;
            transition-delay: 0.1s;

            .link {
                text-align: center;
                border-radius: 50px;

                transition: all 0.2s;
                cursor: pointer;

                color: $text-color;

                font-family: $main-font-family;
                font-weight: 500;

                opacity: 0;
                animation-name: fade-from-top-to-bottom;
                animation-fill-mode: forwards;
                animation-duration: 0.4s;

                text-shadow: 0 0 3px $navigation-text-shadow;
                font-weight: bold;

                &:hover {
                    scale: 1.05;
                }
            }
        }
    }
}