@import "styles/variables.scss";

.cursor-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin-right: auto;
    white-space: pre;

    &.big {
        min-height: 100px;

        .char {
            font-size: 75px;
        }
    }

    &.small {
        min-height: 50px;

        .char {
            font-size: 14px;
        }

        .cursor {
            width: 8px;
            height: 16px;
        }
    }

    .char {
        font-family: $main-font-family;
        white-space: break-spaces;
    }

    .cursor {
        width: 30px;
        min-height: 100%;
        background: black;
        display: none;

        /* If writing */
        &:not(.not-writing) {
            visibility: visible !important;
            animation-name: "no-animation";
        }

        &.not-hidden {
            display: block !important;
        }

        animation-name: blinking;
        animation-duration: 0.75s;
        animation-play-state: running;
        animation-iteration-count: infinite;

        &.hidden {
            animation-name: initial;
            display: none !important;
        }

        @keyframes blinking {
            0% {
                visibility: hidden;
            }

            50% {
                visibility: hidden;
            }

            100% {
                visibility: visible;
            }
        }
    }
}