@import "styles/variables.scss";

.cursor-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    margin-right: auto;

    &.big {
        min-height: 147px;

        .char {
            font-size: 115px;
        }

        .cursor {
            height: 120px;
        }
    }

    &.semi-big {
        min-height: 75px;
        opacity: 0.6;

        .char {
            font-size: 55px;
        }

        .cursor {
            width: 5px;
            height: 60px;
        }
    }

    &.small {
        min-height: 50px;

        .char {
            font-size: 14px;
        }

        .cursor {
            width: 3px;
            height: 16px;
        }
    }

    .char {
        font-family: $main-font-family;
        white-space: pre;
    }

    .cursor {
        width: 7px;
        min-height: 100%;
        margin-left: 3px;
        background: $text-color;
        display: none;

        /* If writing */
        &:not(.not-writing) {
            visibility: visible !important;
            animation-name: "no-animation";
        }

        &.not-hidden {
            display: block !important;
        }

        animation-name: blinking;
        animation-duration: 0.75s;
        animation-play-state: running;
        animation-iteration-count: infinite;

        &.hidden {
            animation-name: initial;
            display: none !important;
        }

        @keyframes blinking {
            0% {
                visibility: hidden;
            }

            50% {
                visibility: hidden;
            }

            100% {
                visibility: visible;
            }
        }
    }
}