@import "variables.scss";

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $site-background;
}

* {
    position: relative;
    color: $text-color;
    font-family: $main-font-family;
    margin: 0;
    padding: 0;
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    text-decoration: none;
}

p {
    font-family: $secondary-font-family;
    font-size: 14px;
}

@keyframes fade-from-right-to-left {
    0% {
        right: -20px;
        opacity: 0;
    }

    100% {
        right: 0px;
        opacity: 1;
    }
}

@keyframes fade-from-left-to-right {
    0% {
        left: -20px;
        opacity: 0;
    }

    100% {
        left: 0px;
        opacity: 1;
    }
}

@keyframes fade-from-top-to-bottom {
    0% {
        top: -20px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes fade-from-bottom-to-top {
    0% {
        bottom: -20px;
        opacity: 0;
    }

    100% {
        bottom: 0px;
        opacity: 1;
    }
}

@keyframes resize-from-top-to-bottom {
    0% {
        height: 0%;
    }

    100% {
        height: 100%;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}