$main-font-family: "Overpass";
$secondary-font-family: 'Courier New', Courier, monospace;

$site-background-1: rgb(11, 40, 78);
$site-background-2: rgb(21, 39, 51);
$site-background-3: rgb(29, 37, 48);
$site-background-4: rgb(0, 0, 0);

$main-linear-bg: linear-gradient(180deg, $site-background-1 0%, $site-background-2 100vh, $site-background-3 100vh, $site-background-3 100%);

$site-background-gradient: linear-gradient(180deg, $site-background-1 0%, $site-background-2 100%);
$site-background-gradient-2: linear-gradient(180deg, $site-background-2 0%, $site-background-3 100%);
$site-background-gradient-3: linear-gradient(180deg, $site-background-3 0%, $site-background-4 100%);

$text-color: rgb(255, 255, 255);

$card-color-1: #323d49;
$card-color-2: rgba(255, 0, 0, 0);
$card-description-color: rgba(0, 0, 0, 0.356);

$card-title-color: #ffffff;
$card-highlight-text-color: rgb(11, 206, 255);
$card-description-text-color: #ffffff;

$card-border-radius: 3px;

$fancy-text-line-color: $card-title-color;

$button-color-1-1: rgb(34, 121, 179);
$button-color-2-1: rgb(14, 69, 153);

$shadow-color: rgba(0, 0, 0, 0.247);

/* Navigation */
$navigation-selector-color: rgb(11, 206, 255);
$navigation-border-color: rgb(11, 206, 255);
$navigation-container-bg: rgba(0, 0, 0, 0.103);
$navigation-text-shadow: rgba(255, 255, 255, 0);

$logo-line-background: rgba(0, 0, 0, 0.267);