$primary_background: rgb(41, 41, 41);
$nav_background: rgb(20, 20, 20);
$nav_item_hover: rgb(63, 63, 63);
$nav_item_selected: rgb(41, 41, 41);
$primary_color: white;
$primary_hover_color: rgb(202, 202, 202);
$code_card_background: rgb(53, 77, 134);
$progress_bar_background: rgb(24, 32, 48);
$progress_bar_foreground: rgb(211, 172, 45);

$nav_width: 50px;
$nav_full_width: 250px;